<h3 id="dienstleistungen">Dienstleistungen</h3>
<div class="dienst-wrap">

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-beratung.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Beratung & Konzeption</h4>
      <p>Jedes Projekt startet mit einer Analyse. Dort konzentrieren wir uns auf Ihre Ziele, Ihr Image und Ihre Konkurrenz. Anschließend entwickele ich ein Konzept und Lösungsvorschläge
und präsentiere sie Ihnen.</p>
    </div>
  </figure>

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-design.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Design</h4>
      <p>Bei dem Design einer Webseite steht bei mir die Bedienbarkeit (Usability) im Vordergrund. Die Besucher Ihrer Website sollen die gewünschten Informationen schnell und einfach finden. Dafür muss Ihre Seite funktional und logisch aufgebaut sein.</p>
    </div>
  </figure>

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-content.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Content</h4>
      <p>Der Inhalt Ihrer Website ist sehr wichtig. Die Besucher und vor allem die Suchmaschinen schätzen einen hochwertigen Content - wirkungsvolle Texte und sorgfältig ausgewählte Grafiken. Ich werde Ihnen helfen, den richtigen Content für Ihre Website zu wählen oder bei Bedarf auch erstellen.</p>
    </div>
  </figure>

  <!--<figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-grafik.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Grafikdesign</h4>
      <p>Bilder sagen mehr als 1000 Worte. Die ergenzen den Text, geben der Website einen Stil und machen die Websiten interessanter. Ich helfe Ihnen bei der Wahl von richtigen Bildern und erstelle für Sie benötigte Icons.</p>
    </div>
  </figure>-->

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-seo.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>SEO</h4>
      <p>Das Ziel von einer Website ist nicht nur Ihre Produkte und Dienstleistungen zu präsentieren sondern auch gefunden zu werden. Suchmaschinen stellen spezifische Anforderungen an den technischen Aufbau von Webseiten, diese berücksichtige ich für Sie.</p>
    </div>
  </figure>

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-webentwicklung.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Webentwicklung</h4>
      <p>Der Aufbau und die technische Umsetzungen von Webseiten ist dynamischer geworden, weswegen das verwenden modernster Techniken und berücksichtigen neuster Standards der Webentwicklung ein Muss darstellt. Ich halte mich stets auf dem Laufenden und somit auch Sie und Ihren Internetauftritt.</p>
    </div>
  </figure>

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-cms.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Verknüpfung mit CMS</h4>
      <p>Content Management System ist eine Software, die Menschen mit wenig HTML- und CSS-Kenntnissen bei der Erstellung und Bearbeitung von Content hilft. Ich arbeite zum Beispiel zurzeit sehr gerne mit einem der bekanntesten Content Management Systeme WordPress, genau wie New Yorker, The Rolling Stones und Mercedes Benz.</p>
    </div>
  </figure>

<!--  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-usability.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Usability Tests</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
    </div>
  </figure>-->


</div>
<div style="clear:both;"></div>
</section>
