<h3 id="dienstleistungen">Dienstleistungen</h3>
<div class="dienst-wrap">

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-img"><img src="/assets/img/maki-dienstleistung-website.jpg">
      <h4>Web Design & Betreuung</h4>
    </div>
    <div class="diesnt-wrap-text">
          <p>Unternehmen Websiten<br />
          Blogs<br />
          Online-Shops</p>
    </div>
  </figure>

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-img"><img src="/assets/img/maki-dienstleistung-branding.jpg">
        <h4>Corporate Design</h4>
    </div>
    <div class="diesnt-wrap-text">
          <p>Visitenkarten Design<br />
          Logo Design</p>
    </div>
  </figure>

  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-img"><img src="/assets/img/maki-dienstleistung-werbung.jpg">
        <h4>Werbung</h4>
    </div>
    <div class="diesnt-wrap-text">
          <p>Flyer design<br />
          Presentationsmappen<br />
          Werebanner<br />
          Werbeschilder<br />
          Poster<br />
          Auto-Werbung<br />
    </div>
  </figure>

  <div class="service-buttons">
    <a href="#" class="">Pakete & Preise</a>
    <a href="#" class="">Preise</a>
    <a href="#" class="">Preise</a>
  </div>

<!--  <figure class="dienst-wrap-item">
    <div class="diesnt-wrap-icon">{% include icons/icon-usability.html %}</div>
    <div class="diesnt-wrap-text">
      <h4>Usability Tests</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
    </div>
  </figure>-->


</div>
<div style="clear:both;"></div>
</section>
