<header class="bird-box">

  <a href="/"><div class="logo"></div></a>

  <nav>
    <ul>
        {% for item in site.data.settings.menu %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
  </nav>

  <a id="i-nav" href="#"></a>


      <div class="header-text">
            <h1>{{ site.data.settings.title }}</h1>

            <p class="kicker">Webdesign, Corporate Design, Werbematerialien und Betreuung von Internetseiten </br>für Kleinunternehmen und Selbstständige</p>

            <div class="buttons-header">
              <a href="#dienstleistungen" class="button-first">Dienstleistungen</a>
              <!--<a href="#preise" class="button-second">Pakete & Preise</a>-->
            </div>
      </div>

  <div class="blink-element">
    <p class="head-trigger">Projekte</p>
    <div id="flip"><a href="#projekte"><img src="assets/img/arrow-down-header.svg" class="arrow-header"></a></div>
  </div>

</header>
