<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="100%" height="100%" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.41421;">
    <g transform="matrix(1.03133,0,0,1.03133,-0.699139,-0.866818)">
        <circle cx="15.224" cy="15.398" r="13.55" style="fill:none;stroke-width:1.94px;stroke:rgb(186,18,0);"/>
    </g>
    <g transform="matrix(-0.903625,-0.89595,24.4679,-24.6775,-351.648,405.595)">
        <g id="Ebene1">
            <rect x="5.43" y="15.441" width="8.497" height="0.056" style="fill:rgb(186,18,0);"/>
        </g>
    </g>
    <g transform="matrix(-0.897642,0.901945,-24.6317,-24.5141,401.541,385.7)">
        <g id="Ebene11">
            <rect x="5.43" y="15.441" width="8.497" height="0.056" style="fill:rgb(186,18,0);"/>
        </g>
    </g>
</svg>
