<section>
  <h3>Sie brauchen eine Website</h3>
  <div class="dienstleistungen-box">
    <div class="dienstleistungen-item">
        <div class="check-point">{% include icons/check-point.html %}</div>
        <p class="dienstleistungen-p">die Ihre <strong>Firma</strong>, Ihre <strong>Dienstleitungen</strong> und <strong>Produkte</strong> richtig präsentiert</p>
    </div>
      <div class="dienstleistungen-item">
        <div class="check-point">{% include icons/check-point.html %}</div>
        <p class="dienstleistungen-p">die <strong>funktional</strong> und <strong>logisch</strong> aufgebaut ist</p>
      </div>
      <div class="dienstleistungen-item">
        <div class="check-point">{% include icons/check-point.html %}</div>
        <p class="dienstleistungen-p">die in <strong>Suchmaschinen</strong> gefunden wird</p>
      </div>
      <div class="dienstleistungen-item">
          <div class="check-point">{% include icons/check-point.html %}</div>
        <p class="dienstleistungen-p">die durch interessanten Content und attraktives Layout <strong>die Besucher in Interessenten verwandelt?</strong></p>
      </div>

      <p class="bigger">Dann sind Sie hier richtig!</p>
    </div>
